<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Find a brewery</title>
  </head>
  <body>
    <header>
      <div>BREWERY FINDER</div>
    </header>

    <main>
      <h1>Generate or search a brewery</h1>
      <div class="randomDiv">
        <form action="/submit" method="POST">
          <input class="random" type="submit" value="Generate Random" />
        </form>
        <p>Brewery name</p>
        <p>Brewery state</p>
        <p>Brewery website</p>
      </div>
    </main>

    <footer>
      <p>Copyright 2024</p>
    </footer>
  </body>
</html>
